* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  width: 100dvw;
  height: 100dvh;
  background-color: #242444;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.triangleOne {
  width: 0;
  height: 0;
  border-bottom: 50px solid transparent;
  border-left: 50px solid #cdffcb;
  border-top: 50px solid transparent;
  transform-origin: right;
  animation: rotateOne 4s linear infinite;
}

.triangleTwo {
  width: 0;
  height: 0;
  border-bottom: 50px solid transparent;
  border-right: 50px solid #cdffcb;
  border-top: 50px solid transparent;
  transform-origin: left;
  transform: rotate(90deg);
  animation: rotateTwo 4s linear 1s infinite;
}

@keyframes rotateOne {
  0%,
  25% {
    transform: rotate(0deg);
  }

  50%,
  75% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotateTwo {
  0%,
  25% {
    transform: rotate(90deg);
  }

  50%,
  75% {
    transform: rotate(270deg);
  }

  100% {
    transform: rotate(450deg);
  }
}
